*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Poppins';
    src: url('Poppins/poppins-black-webfont.woff') format('woff');        
}

body h1,h2{
    font-family: Poppins;
}
.container{
    margin-right:50px;
}
.op{
    background-color: rgb(0, 0, 0 ,  );
  
    
}
image img:hover{

}
nav{
    width: 340px;
    height: 100vh;
    background-color:#f44336;
    padding: 20px;
    position:fixed;
    top: 0;
    left: 0;
   padding-top: 100px;
   padding-left: 40px;
    font-size: 2rem;
    color: white;
}
ul{
    list-style: none;
    color: white;
    padding-top: 100px;   
}
li{
    padding-bottom: 10px;
}
li:hover {
    background-color: white;
  
}
li:hover a{
    color: black;
}
a{
    text-decoration: none;
    color: white;
}
main{
    /* width: 80%; */
    /* height: 100%; */
    margin-left:380px;
    font-size: 2rem;
    padding: 100px 10px ;
    
    
}
main h1{
    font-size: 64px;
    

}
main h2{
    color: red;
}
main hr{
   border: 5px solid red;
   color: red;
   width: 50px;
   border-radius:6px ;
   margin-bottom: 20px;
   margin-top: 10px;
   
  
}
.image{
    width: 80%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-items: stretch;
    align-items: stretch;
  

}
.image img{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
   }

   /* ///////Services////// */
   .Services{
    margin-right: 200px;
    margin-top: 100px;
   line-height: 1.5;
   }
   p{
    font-size: 20px; 
   }
   span{
    font-size: 25px;
    font-weight: bold;
   }
   .designers{
   background-color: rgb(176, 127, 255);
   width: 90px;
   height: 400px;
   display: flex;
   justify-content:space-between ;
   margin-top: 20px;
   border: 1px solid black;
}
   .designers h3{
    font-size: 30px;
    padding-left: 20px;
    padding-top: 10px;
    
   }
   .designers h4{
    font-size: 18px;
    padding-left: 20px;
    padding-top: 10px;
    color: rgba(5, 5, 5 ,.6);

   }
   .designers-card{
    background-color: rgb(211, 208, 208);
    margin-right: 20px;
    width: 300px;
    color: black;
    
   }
   .designers-card p{
    padding-top: 20px;
    padding-left: 20px;
   }
   .designers-card img{
    width: 300px;
   
   }
   /* ////table//////// */
   table{
   
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
    border-spacing: 20px 0;
   border-collapse: separate;
  
   }
   th, td{
    border: 1px solid rgba(208, 199, 199, 0.4);

   }
   table th { 
    padding: 20px;
    text-align: left;
    color: white;
    text-align: center;
   
  }
  table td{
    padding: 20px;
    background-color:rgb(241, 241, 241) ;
  }
  th:first-child{
    background-color: #616161;
  }
  th:nth-child(2){
    background-color: #F44336;
  }
 td span{
    border: 1px ;
    background-color:rgb(255, 255, 255) ;
    padding: 10px 15px;
    border-radius: 5px;
}
 .btn-two{
    background-color: #F44336;
 }
 td span:hover{
    background-color: black;
    color: white;
 }

 /* ///////form///////////// */
 form{
    line-height: normal;
 }
 form label{
    font-size: 22px;
   
 }
 form input{
    padding: 15px;
     width: 100%;
 }
 form button{
    width: 100%;
    height: 45px;
    margin-top: 30px;
    font-size: 25px;
    background-color: #F44336;
    color: white;
 }
 form button:hover{
    color: black;
    background-color: #ccc;
 }
 footer{
    background-color: #ccc;
    height: 200px;
 }
 footer p{
    text-align: right;
   line-height: 200px;
   padding-right: 20px;
 }
